ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:24;
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h2 {
    color:brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
